<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello there</title>
</head>

<body>
    <h1 style="color: #2e6c80;">Home page</h1>
    <h2>Where you'd like to go?</h2>
    <table style="width: 100%;text-align:center;">
        <tbody>
            <tr>
                <td style="width: 33%;"> <button onclick="window.location.href='/photos';">take me to photos </button> </td>
                <td style="width: 33%;"> <button onclick="window.location.href='/people';">show me the people </button> </td>
                <td style="width: auto;"> <button onclick="window.location.href='/rec';">i feel like labeling </button> </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
